<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louhwz.sbdata.repository.second.SandboxDAO">

    <select id="testSecond" resultType="String">
        SELECT role_name
        FROM ida_role
    </select>

    <select id="getReadyInfo" resultType="boolean" parameterType="Integer">
        SELECT State
        FROM I_ReadyStatus a
        WHERE a.GroupId = groupId
    </select>
</mapper>