<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louhwz.sbdata.repository.second.SandboxDAO">

    <select id="addOrder">
        insert into sbdata_room_orders(expid, groupid, round, customer_id, room_id, price)
        values (#{expId}, #{groupId}, #{round}, #{iCustomerId}, #{iRoomId}, #{price})
    </select>

    <select id="testSecond" resultType="String">
        SELECT role_name
        FROM ida_role
    </select>

    <select id="getReadyInfo" resultType="boolean" parameterType="Integer">
        SELECT State
        FROM I_ReadyStatus a
        WHERE a.GroupId = groupId
    </select>

    <select id="getHotelOrder" resultType="com.louhwz.sbdata.utils.HotelOrder" parameterType="Integer">
        SELECT expid as expId, groupid as groupId, round, customer_id as iCustomerId, room_id as iRoomId, price
        FROM sbdata_room_orders
        WHERE groupid = #{groupid};
    </select>


</mapper>